* {
  margin : 0;
  padding: 0;

}



.banner > * {
  z-index : 1;
  margin: 2.5vh 0;
  color: white;
  /* color: rgb(255, 68, 11); */
  font-weight: bold;
  border-radius: 1%;
  -webkit-transition: all 1.6s ease;
  -moz-transition: all 1.6s ease;
  transition: all 1.6s ease;
}

.banner > h1 {
  font-size:40px;
}

.banner > h1, .banner > h3 {
  text-shadow: 2.5px 2.5px #4C69BA;
}

.banner {
  z-index: -1;
  background-position: center;
  background-size: cover !important;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*-webkit-transition: all 1.6s ease;*/
  /*-moz-transition: all 1.6s ease;*/
  /*transition: all 1.6s ease;*/
}

#background {
  position: fixed;
  width: 100vw;
  height : 100vh;
  top: 0;
  left: 0;
  z-index: -100;
}

.blog {
  white-space:pre-wrap;
  margin:30px 60px;
}

.header {
  font-size: 25px;
  font-weight: bold;
}
